<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Scratchpad">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Scratchpad">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- ADB Command: Import notes from JSON file -->
            <!-- See Constants.kt Actions.IMPORT for the intent name -->
            <intent-filter>
                <action android:name="com.example.scratchpad.IMPORT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- ADB Command: Export all notes to JSON -->
            <!-- See Constants.kt Actions.EXPORT for the intent name -->
            <intent-filter>
                <action android:name="com.example.scratchpad.EXPORT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- ADB Command: Clear all notes -->
            <!-- See Constants.kt Actions.CLEAR for the intent name -->
            <intent-filter>
                <action android:name="com.example.scratchpad.CLEAR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- ADB Command: Show about dialog -->
            <!-- See Constants.kt Actions.ABOUT for the intent name -->
            <intent-filter>
                <action android:name="com.example.scratchpad.ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- ADB Command: List all notes -->
            <!-- See Constants.kt Actions.LIST for the intent name -->
            <intent-filter>
                <action android:name="com.example.scratchpad.LIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Share to create new note -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ImportReceiver"
            android:exported="true"
            android:permission="com.example.scratchpad.IMPORT_PERMISSION">
            <intent-filter>
                <action android:name="com.example.scratchpad.IMPORT_ACTION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>